.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to bottom, #11adb5, #307b9b, #414b67, #2e2530, #000000);
}
.quiz-form__container,
.text__title,
.form-btn {
    color: white;
}
.form-btn {
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-family: poppins;
    background-color:  rgb(99, 20, 110);
    color: white;
    margin-top:8px;
    margin-left: 2rem;
}
.form-btn:hover {
    background-color: rgb(125, 10, 141);
    cursor: pointer;
}
.form-header {
    display: flex;
    flex-direction: column;
}
.form__container--btns{
    padding:0;
    margin:0;
}
@media (max-width: 768px) {
    .form {
        padding: 10px; 
        height: 1040px;
    } 
    .form-btn {
        margin-left:0;
        width: 90%;
    }  
    .form-header {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .text__title{
        font-size: 2.5rem;
    }
    .create-user__title{
        font-size: 1rem;
    }
}