.form {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #11adb5, #307b9b, #414b67, #2e2530, #000000);
    height: 100vh;
}

.quiz-form__container,
.text__title,
.form-btn {
    color: white;
}

.form-btn {
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-family: poppins;
    background-color:  rgb(99, 20, 110);
    color: white;
    margin-top: 1.7rem;
    margin-left: 3rem;
}

.form-btn:hover {
    background-color: rgb(125, 10, 141);
    cursor: pointer;
}

.form-header {
    display: flex;
    flex-direction: row;
}