.landing{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left top, #11adb5, #307b9b, #414b67, #2e2530, #000000);
}
.landing__sub-title{
    font-family: manjari;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.483);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:3rem;
}
.landing-btn{
    border:none;
    padding: 15px 30px;
    border-radius: 50px;
    font-family: poppins;
    font-size: 18px;
    margin-right: 1rem;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-color: #842d8d;
    width: 250px;
    margin-top:2rem;
    color: white;
}
.landing-btn:hover{
    cursor: pointer;
}

.landing-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.text__title{
    font-family: aldrich;
    text-align: center;
    font-size: 4rem;
    color: #11ADB5;
    text-shadow: 2px 2px 5px rgba(84, 2, 85, 0.603);
    margin-top:50px;
    margin-bottom: 10px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing__error-message, .landing__loading-message{
    font-family: poppins;
    color:white;
}
@media (max-width: 500px) {
    .landing__sub-title {
        width: 100%;
    }
    .landing-btn {
        width: 70%;
        margin-right: 0; 
        padding: 10px 5px;
    }
}
