.map-container {
    height: 500px;
    width: 100%;
  }
  .mapbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  @media (max-width: 768px) {
    .map-container {
        height: 300px;
    }
    .mapbox {
        padding: 10px; 
    }
}
