.my-quizzes__container{
    background-color: rgba(255, 255, 255, 0.627);
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding:10px;
    border: 1px solid white;
    width: 100%;
}
.my-quizzes__title{
    font-family: poppins;
    margin:0;
}
.my-quizzes__subtitle{
    font-family: manjari;
    color: white;
    font-size:25px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.my-quizzes__delete-btn{
    font-family: poppins;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
}
.my-quizzes__delete-btn:hover{
    background-color: rgb(227, 97, 97);
    cursor:pointer
}
.my-quizzes__delete-message{
    font-family: poppins;
    color:white;
    width: 100%;
}
.my-quizzes{
    width: 100%;
}
@media (max-width: 500px) {
    .my-quizzes__subtitle {
        font-size:20px;
    }
}